

/*PageContainer*/
.pageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width:96vw;
}

.upperPart{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row;
    width:100%;
}

.headerSaldo{
    font-size: 8vw;
    font-weight: bold;
}

.saldoCard{
    background: rgba(255, 255, 255, .7);
    padding: 10px;
    width:20vw;
    border-radius: 15px;
}

.saldoCard-saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    margin-bottom: 5px;
}

.saldo{
    font-size: 6vw;
    margin-left: 5px;
}

.saldo-icon{
    max-width: 4vw;
    max-height: 4vw;
}

.saldoCard-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.button-form{
  font-family: Comfortaa;
  width: 200px;
  height: 45px;
  font-size: 2vw;
  letter-spacing: 2.5px;
  font-weight: 700;
  color: rgb(58, 58, 255);
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button-form:hover {
    background-color: rgb(88, 88, 255);
    box-shadow: 0px 10px 15px rgb(58, 58, 255);
    color: #fff;
}

/*MOBILE PART*/

@media screen and (max-width:500px){
    .upperPart{
        flex-flow: column;
    }
    
    .saldo{
        font-size: 8vw;
    }
    
    .saldo-icon{
        max-width: 6vw;
        max-height: 6vw;
    }
    .button-form{
        font-size: 3vw;
    }
    .saldoCard{
        width:30vw;
    }
    .headerSaldo{
        margin-bottom: 10px;
    }
}

.devider{
    width:85%;
    height: 2px;
    background-color: beige;
    margin: 20px 0px 20px;
}

/*LOWER PART*/
.lowerPart{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    width:100%;
}

.header-transazioni{
    font-size: 6vw;
}

.scrollable-card{
    width:100%;
    max-height: 500px;
    background: #edc0bf;
    background: linear-gradient(90deg, #c4caef 0,#edc0bf 58%);
    margin-bottom: 10vh;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

.transaction{
    width:95%;
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    background-color: rgb(166, 166, 255);
    margin:15px auto 25px auto;
    border-radius: 15px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}

.status{
    font-size: 5vw;
}

.rightTransaction{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width:55%;
    padding-right:20px;
}

.peer{
    width:40%;
    padding:10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 15px 0px 15px 0px;
}

.peerHeader{
    font-size: 3vw;
}

.key{
    width:100%;
    overflow-x: auto;
}

.leftTransaction{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width:20%;
    padding-left: 20px;
}

.amount{
    font-size: 6vw;
}
.currency{
    width: 4vw;
    height: auto;
}

.transactionAmount{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

@media screen and (min-width:750px){
    .leftTransaction{
        flex-flow: row;
        width:35%;
        justify-content: space-between;
    }

    .peerHeader{
        font-size: 2vw;
    }
    .amount{
        font-size: 4vw;
    }
    .currency{
        width: 3vw;
        height: auto;
    }

    .headerSaldo{
        font-size: 6vw;
        font-weight: 600;
    }

    .upperPart{
        justify-content: space-evenly;
    }
}