.blockchain-part{
    width:400px;
    max-height:500px;
    overflow-y: scroll;
    overflow-x:hidden;
    margin-top: 30px;
    margin-bottom: 30px;
    background: #edc0bf;
    background: linear-gradient(90deg, #c4caef 0,#edc0bf 58%);
    padding:20px;
    padding-right: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.blocco{
    width:392px;
    height: auto;
    background-color: rgb(219, 238, 255);
    padding:15px;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin:10px 0 10px 0;
}

.block-title{
    font-size: 1.8em;
    font-weight: 600;
}

.transaction-title{
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}

.header{
    font-size: .9em;
    font-weight: 600;
}

.content{
    font-weight: 400;
    font-style: italic;
}

.transazione{
    margin:5px;
    padding:5px;
    background: rgb(251, 209, 255);
    border-radius: 15px;
}

.information{
    padding:5px;
    margin:5px;
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
}

.information-block{
    padding:5px;
    margin:5px;
    background: rgb(253, 255, 151);
    border-radius: 10px;
}

.mittente .content, .destinatario .content, .hashFirmato .content, .information-block .content{
    max-width:360px;
    height:auto;
    overflow-x: auto;
    overflow-y: hidden;
}

.headerPage{
    font-size: 2em;
    font-weight: 700;
    margin-top: 30px;
}

.disclaimer{
    margin-top: 20px;
    text-align: center;
    font-size: 2em;
    font-weight: 500;
    color:rgb(0, 0, 0);
}

.ecosystem{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.line1{
    margin-top: 20px;
}

.line2{
    margin-top: 10px;
}

.line1, .line2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.status-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: auto;
    height:auto;
    padding:10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.status-dot{
    width:8px;
    height:8px;
    border-radius: 50%;
    border: 1px solid black;
}

.status-ok{
    background-color: rgb(116, 255, 116);
}

.status-corrupted{
    background-color: rgb(255, 0, 0);
}

.upper-status-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    font-size: 1.2em;
}

.lower-status-part{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
}

.status{
    margin-left: 5px;
}

.corrupted-block-number{
    margin-left: 5px;
}

.corruptedtransaction{
    background-color: orange;
}

.numberblocks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: auto;
    height:auto;
    padding:12px 10px 12px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .7);
    margin-left: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.actualNumber{
    margin-left: 5px;
}

.numbertransactions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: auto;
    height:auto;
    padding:12px 10px 12px 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, .7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media screen and (max-width:600px){
    .line1{
        flex-flow: column;
    }
    .numberblocks{
        margin-top: 10px;
    }
}